<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Simple Html, Css Layout Design-Compass Course 21</title>
    <link rel="stylesheet" href="../styles/Style.css">
</head>
<body>
<div class="body">
    <div class="el NavBar">
        <nav class="navSection">
            <div class="NavLogo">
                <h1 class="Logo">
                   class Logo</h1>
            </div>
            <ul class="navUL">
                <li class="navLI">
                    <a Href="#">Home</a>
                </li>
                <li class="navLI">
                   <a Href="#"> Contact</a>
                </li>
                <li class="navLI">
                   <a Href="#"> CV</a>
                </li>
                <div class="navAction">
                    <button class="ActionNavButton">Join Newsletter</button>
                </div>
            </ul>
        </nav>
    </div>
    <div class="el FunctionBar"></div>
    <div class="el LeftPanel"></div>
    <div class="el RightPanel"></div>
    <div class="el Content">
        <h1>Welcome to my simple HTML Css Page website</h1>
        <p>
            Esta pagina fue creada por <b>Francisco</b>
        </p>
        <hr/>
        <button onclick="HelloJS()"> Trigger JS</button>
    </div>
    <div class="el Footer"></div>
    <!-- J script link -->
    <script src="../backend/script.js"></script>
</div>
</body>
</html>